/*
 Antonio Balanzategui, 2/25/2023
 */
.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.App {
  min-height: 100vh;
  background: transparent;
  flex-direction: column;
}

body {
  background: linear-gradient(to bottom, #1c1c1c, #3b3a3b, #605a56);
  margin: 0;
}