/*
 Antonio Balanzategui, 2/25/2023
 */
h2 {
    width: 50%;
    font-family: "Baskerville Old Face";
    font-size: 3vw;
}
textarea {
    width: 50%;
    font-family: "Baskerville Old Face";
    font-size: 2vw;
    background-color: #1c1c1c;
    color: white;

}
.selectInfoHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}
